body{
    width: 100%;
    height: auto;
    border:1px solid red;
}
.header{
    width: 100%;
    height: auto;
}
.container-top{
    width: 1320px;
    height: 44px;
    background-color: firebrick;
}