
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Microsoft YaHei";
    font-size: 14px;
}
a{
    text-decoration: none;
    color: #000;

}
ul,ol li{
    list-style: none;
}
.cf:after{
    content: "";
    display: table;
    clear: both;
    /*清除浮动  class=“cf” */
}
img{
    vertical-align: top;
    /*去除图片底部空白处 */
}
.sec-nav{
    background-color: #F2F2F2;
}


nav>a{
    color: #bcbcbb ;
    margin-left: 10px;
}

.coll-a{
    display: inline-block;
    margin-left: 750px;
    text-align: center;
    line-height: 100%;
}
.coll-a>a{
    margin-left: 10px;
}
.sec-seek{
    margin-top: 20px;
}
.sec-list{
    margin-top: 20px;
}

.logo{
    color: red;
    font-size: 32px;

}
.seek-goods{
    display: inline-flex;
    position: relative;
}
.seek-goods input{
    width: 500px;
    height: 32px;
    position: absolute;
    left: 150px;
    top: -26px;
    border:2px solid #296ECC;
}
.seek-txt{
    text-align: center;
    width: 90px;
    height: 32px;
    line-height: 32px;
    position: absolute;
    left: 650px;
    top: -26px;
    font-size: 18px;

    background: #296ECC;
    color: #ffffff;
}
.seek-goods-img{
    position: absolute;
    left: 755px;
    top: -50px;
}
.src-list-ul>li>a{
    display: block;
    padding: 0 10px;
    font-size: 22px;
    font-weight: 700;
    line-height: 36px;
    color: #333;
    text-decoration: none;
}
.src-list-ul>li:hover{
    border-bottom: 2px solid #0f64c2 ;
    color: #0f64c2;

}
